<section id="teaching-assistance">
    <h2>Teaching Assistance</h2>
    <p>
        The following documents are not exempt from typos or other errors. In
        the case of assessments, any issues were clarified at the time of the
        exam.
    </p>

    <article>
        <h3>
            <a href="{{ '/courses/microeconomics_1/2026-1/' | relative_url }}">
                Microeconomics I
            </a>, 2026-2
        </h3>
    </article>

    <article>
        <h3>
            <a href="{{ '/courses/macroeconomics_2/2026-2/' | relative_url }}">
                Macroeconomics II
            </a>, 2026-2
        </h3>
    </article>
</section>