@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

// Variables globales
$fonts-path: "../fonts";
$base-font: "EB Garamond", "Times New Roman", Times, serif;
$body-bg: #E8E8E8; 
$text-color: #2b2b2b; 
$links-color: #2B4C7E;      // Navy, pero un tono más claro/saturado que el actual
$links-color_hover: #722F37; // Tu vino, se queda igual
$h1-size: 28px;
$h2-color: #000000;
$h3-6-color: #494949;
$highlight-bg: #FFFFFF;